.pierogi-text {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.pierogi-description-rect {
    background-color: lightgrey;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 170px;
    width: 385px;
    border-radius: 15px;
    padding-top: 6px;
}

.pierogi-description {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 15px;
    margin-top: 6.5px;
}

.pierogi-ingredients-rect {
    background-color: lightgrey;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 420px;
    width: 385px;
    border-radius: 15px;
    padding-top: 6px;
}

.pierogi-ingredients-text {
    margin-left: 145px;
    font-weight: bold;
    font-size: 1.20rem;
}

.pierogi-ingredients {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}

.pierogi-instructions-rect {
    background-color: lightgrey;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 350px;
    width: 385px;
    border-radius: 15px;
    padding-top: 6px;
}

.pierogi-instructions-text {
    margin-left: 145px;
    font-weight: bold;
    font-size: 1.20rem;
}

.pierogi-instructions {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}

.pierogi-tips-text {
    margin-top: 15px;
    margin-left: 65px;
    font-weight: bold;
    font-size: 1.20rem;
}

.pierogi-tips {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}