.sour-text {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.sour-description-rect {
    background-color: lightgrey;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 110px;
    width: 385px;
    border-radius: 15px;
    text-align: justify;
}

.sour-description {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
}

.sour-ingredients-rect {
    background-color: lightgrey;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 230px;
    width: 385px;
    border-radius: 15px;
    padding-top: 6px;
}

.sour-ingredients-text {
    margin-left: 145px;
    font-weight: bold;
    font-size: 1.20rem;
}

.sour-ingredients {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}

.sour-instructions-rect {
    background-color: lightgrey;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 535px;
    width: 385px;
    border-radius: 15px;
    padding-top: 6px;
}

.sour-instructions-text {
    margin-left: 145px;
    font-weight: bold;
    font-size: 1.20rem;
}

.sour-instructions {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}

.sour-tips-text {
    margin-top: 15px;
    margin-left: 130px;
    font-weight: bold;
    font-size: 1.20rem;
}

.sour-tips {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}