.text {
    font-weight: bold;
    font-size: 1.50rem;
    padding: 10px;
}

.description-rect {
    margin-top: 20px;
    margin-left: 12.5px;
    width: calc(100% - 25px);
    max-width: 385px;
    border-radius: 15px;
    text-align: justify;
    box-sizing: border-box;
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;
    padding-top: 6px;
}

.description {
    font-weight: bold;
    font-size: 1.20rem;
    
    padding: 10px;
}

.ingredients-rect {
    margin-top: 20px;
    margin-left: 12.5px;
    width: calc(100% - 25px);
    max-width: 385px;
    border-radius: 15px;
    text-align: justify;
    box-sizing: border-box;
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;
    padding-top: 6px;
}

.ingredients-text {
    font-weight: bold;
    font-size: 1.20rem;
    
    padding: 10px;
}

.ingredients {
    font-weight: bold;
    font-size: 1rem;
    
    padding: 10px;
}

.instructions-rect {
    margin-top: 20px;
    margin-left: 12.5px;
    width: calc(100% - 25px);
    max-width: 385px;
    border-radius: 15px;
    text-align: justify;
    box-sizing: border-box;
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;
    padding-top: 6px;
}

.instructions-text {
    font-weight: bold;
    font-size: 1.20rem;
    
    padding: 10px;
}

.instructions {
    font-weight: bold;
    font-size: 1rem;
    
    padding: 10px;
}

.tips-text {
    font-weight: bold;
    font-size: 1.20rem;
    
    padding: 10px;
}

.tips {
    font-weight: bold;
    font-size: 1rem;
    
    padding: 10px;
}