/* Full-width image container */
.image-container {
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    /* Breaks out of parent container */
    overflow: hidden;
}

/* Full-width image */
.full-width-img {
    width: 600px;
    /* Set your desired width */
    height: auto;
    /* Height adjusts proportionally */
    max-width: 100%;
    /* Prevents overflow on small screens */
}

.map {
    max-width: 800px;
    /* Adjust as needed */
    margin: 0 auto;
    /* Centers horizontally */
    width: 100%;
    height: 400px;
}

.idzi-text {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.idzi-description {
    margin-left: 25px;
    margin-top: 15px;
}