.cake-text {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.cake-description-rect {
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 135px;
    width: 385px;
    border-radius: 15px;
}

.cake-description {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    text-align: justify;
}

.cake-ingredients-rect {
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 350px;
    width: 385px;
    border-radius: 15px;
    padding-top: 6px;
}

.cake-ingredients-text {
    margin-left: 145px;
    font-weight: bold;
    font-size: 1.20rem;
}

.cake-ingredients {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}

.cake-instructions-rect {
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 575px;
    width: 385px;
    border-radius: 15px;
    padding-top: 6px;
}

.cake-instructions-text {
    margin-left: 145px;
    font-weight: bold;
    font-size: 1.20rem;
}

.cake-instructions {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}

.cake-tips-text {
    margin-top: 15px;
    margin-left: 175px;
    font-weight: bold;
    font-size: 1.20rem;
}

.cake-tips {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}