.cake-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.cake-description-rect {
    margin-top: 20px;
    margin-left: 12.5px;
    width: calc(100% - 25px);
    max-width: 385px;
    border-radius: 15px;
    text-align: justify;
    box-sizing: border-box;
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;
    padding-top: 6px;
}

.cake-description {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
}

.cake-ingredients-rect {
    margin-top: 20px;
    margin-left: 12.5px;
    width: calc(100% - 25px);
    max-width: 385px;
    border-radius: 15px;
    text-align: justify;
    box-sizing: border-box;
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;
    padding-top: 6px;
}

.cake-ingredients-text {
    font-weight: bold;
    font-size: 1.20rem;
    text-align: center;
    padding: 10px;
}

.cake-ingredients {
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
}

.cake-instructions-rect {
    margin-top: 20px;
    margin-left: 12.5px;
    width: calc(100% - 25px);
    max-width: 385px;
    border-radius: 15px;
    text-align: justify;
    box-sizing: border-box;
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;
    padding-top: 6px;
}

.cake-instructions-text {
    font-weight: bold;
    font-size: 1.20rem;
    text-align: center;
    padding: 10px;
}

.cake-instructions {
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
}

.cake-tips-text {
    font-weight: bold;
    font-size: 1.20rem;
    text-align: center;
    padding: 10px;
}

.cake-tips {
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
}