.borscht-text {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.borscht-description-rect {
    background-color: lightgrey;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 135px;
    width: 385px;
    border-radius: 15px;
    text-align: justify;
}

.borscht-description {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
}

.borscht-ingredients-rect {
    background-color: lightgrey;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 390px;
    width: 385px;
    border-radius: 15px;
    padding-top: 6px;
}

.borscht-ingredients-text {
    margin-left: 90px;
    font-weight: bold;
    font-size: 1.20rem;
}

.borscht-ingredients {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}

.borscht-instructions-rect {
    background-color: lightgrey;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 660px;
    width: 385px;
    border-radius: 15px;
    padding-top: 6px;
}

.borscht-instructions-text {
    margin-left: 145px;
    font-weight: bold;
    font-size: 1.20rem;
}

.borscht-instructions {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}

.borscht-tips-text {
    margin-top: 15px;
    margin-left: 135px;
    font-weight: bold;
    font-size: 1.20rem;
}

.borscht-tips {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 12.5px;
    margin-top: 6.5px;
}