.baked-text {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.baked-description-rect {
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 110px;
    width: 385px;
    border-radius: 15px;
    text-align: justify;
}

.baked-description {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
}

.baked-ingredients-rect {
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 290px;
    width: 385px;
    border-radius: 15px;
    padding-top: 6px;
}

.baked-ingredients-text {
    margin-left: 145px;
    font-weight: bold;
    font-size: 1.20rem;
}

.baked-ingredients {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}

.baked-instructions-rect {
    background-color: #e5c4b3;
    border: 2px solid #d3a690;
    opacity: 85%;

    margin-top: 20px;
    margin-left: 12.5px;
    height: 600px;
    width: 385px;
    border-radius: 15px;
    padding-top: 6px;
}

.baked-instructions-text {
    margin-left: 145px;
    font-weight: bold;
    font-size: 1.20rem;
}

.baked-instructions {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}

.baked-tips-text {
    margin-top: 15px;
    margin-left: 135px;
    font-weight: bold;
    font-size: 1.20rem;
}

.baked-tips {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 6.5px;
}